<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hola!</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/">View All Entries</a></li>
      <li><a href="/upload">Add Entry(excel file)</a></li>
      <li><a href="/addEntry">Add Entry(Directly)</a></li>
    </ul>
  </div>
</nav>